<!DOCTYPE html>
<html>
  <head>
    <title>Temporal Database</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  </head>
  <body>
    <div class="container">
      <!-- for CRUD -->
          <div style="padding : 10px" class="content">
            <h3>CRUD</h3>
          </div>
          <div style="width : 20%">
              <hr>
          </div>
          <div>
              <ol class="ui list">
                  <li value="*">Create</li>
                  <li value="*">Read</li>
                  <ol>
                      <li value="-">Projection</li>
                      <li value="-">Select</li>
                      <li value="-">Join</li>
                      <li value="-">Set Difference</li>
                      <li value="-">Union</li>
                      <li value="-">Time slice</li>
                  </ol>
                  <li value="*">Update</li>
                  <li value="*">Delete</li>
              </ol>
          </div>
    </div>
    <div style="width : 20%">
        <hr>
    </div>
    <div class="container">
      <div style="padding : 10px" class="content">
        <h3>ALLEN</h3>
      </div>
      <div style="width : 20%">
          <hr>
      </div>
      <ol class="ui list">
          <li value="*">Before & after</li>
          <li value="*">Overlap & overlapped by</li>
          <li value="*">Start & started by</li>
          <li value="*">Finish & finished by</li>
          <li value="*">Equal</li>
          <li value="*">Meet & met by</li>
          <li value="*">Contain & during</li>
      </ol>
    </div>
    <div style="width : 20%">
        <hr>
    </div>
  </body>
</html>
