<!DOCTYPE html>
<html>
  <head>
    <title>Temporal Database</title>
  </head>
  <body>
    <h1>CRUD</h1>
    <h3>Create (Insert)</h3>
    <h3>Read</h3>
    <ul>
      <li>Projection</li>
      <li>Select</li>
      <li>Join</li>
      <li>Set Difference</li>
      <li>Union</li>
      <li>Time Slice</li>
    </ul>
    <h3>Update</h3>
    <h3>Delete</h3>
    <hr>
    <h1>ALLEN</h1>
    <h3>Before & after</h3>
    <h3>Overlap & overlapped by</h3>
    <h3>Start & started by</h3>
    <h3>Finish & finished by</h3>
    <h3>Equal</h3>
    <h3>Meet & met by</h3>
    <h3>Contain & during</h3>
  </body>
</html>
