<!DOCTYPE html>
<html>
  <head>
    <title>Temporal Database</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  </head>
  <style>
    .header{
      color: teal;
      text-align: center;
      padding-top: 15px;
    }
    .divHr{
      width: 100px;
      border-color: teal;
    }

    .CRUD{
      color: teal;
      width: 400px;
      text-align: center;
      margin: auto;
      width: 50%;
      padding: 10px;
      
    }

    .myButton{
      width: 285px;
      height: 40px;
      border-color: teal
    }
  </style>

  <body>
  <div class="container">
      <h1 class="header">CRUD and ALLEN</h1>
      <hr class="divHr">

      <div class="CRUD">
        <div class="ui four column grid">
        <div class="two column row">
          <div class="column CRUD">
              <button class="ui primary basic button myButton">Create</button>
              <br>
              <br>
              <button class="ui primary basic button myButton">Projection</button>
              <br>
              <br>
              <button class="ui primary basic button myButton">Select</button>
              <br>
              <br>
              <button class="ui primary basic button myButton">Join</button>
              <br>
              <br>
              <button class="ui primary basic button myButton">Set difference</button>
              <br>
              <br>
              <button class="ui primary basic button myButton">Union</button>
              <br>
              <br>
              <button class="ui primary basic button myButton">Time slice</button>
              <br>
              <br>
              <button class="ui primary basic button myButton">Update</button>
          </div>
          <div class="column CRUD">
              <button class="ui primary basic button myButton">Delete</button>
              <br>
              <br>
              <button class="ui primary basic button myButton">Before & after</button>
              <br>
              <br>
              <button class="ui primary basic button myButton">Overlap & overlapped by</button>
              <br>
              <br>
              <button class="ui primary basic button myButton">Start & started by</button>
              <br>
              <br>
              <button class="ui primary basic button myButton">Contain & during</button>
              <br>
              <br>
              <button class="ui primary basic button myButton">Finish & finished by</button>
              <br>
              <br>
              <button class="ui primary basic button myButton">Equal</button>
              <br>
              <br>
              <button class="ui primary basic button myButton">Meet & met by</button>
      </div>
    </div>
  </body>
</html>
